.grid-container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1.7fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "who-why image"
      "news-container news-container"
      "values-container values-container";
  }
  .who-why {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-template-areas:
      "who-why-title"
      "who-why-blurb";
    grid-area: who-why;
    
  }
  
  .who-why-title { grid-area: who-why-title; 
    }
  
  
    .who-why-blurb { grid-area: who-why-blurb; }

  .image { 
      
    grid-area: image;
    background: linear-gradient( rgba(74,190,209, 0.7),rgba(52,73,112, 1)),
    url('../images/james-sullivan-ESZRBtkQ_f8-unsplash.jpg') center/cover no-repeat;
    margin: 0;
    display: flex;
    color: #fff; 
    }
  
  .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "news-li-feed news-contactus"
      "news-li-feed news-contactus";
    grid-area: news-container;
  }
  .news-contactus { grid-area: news-contactus; }
  .news-li-feed { grid-area: news-li-feed; }
  .values-container { grid-area: values-container; }