  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 2.2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "image image"
      "who-why who-why"
      "news-container news-container";
      /* "values-container values-container"; */
      max-height: 100vh;
  }
  .who-why {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "who-why-head who-why-contacts"
      "who-why-blurb who-why-contacts";
    grid-area: who-why;
    border-top: 15px solid #344970;
    height: 40vh;
  }
  .who-why-head { grid-area: who-why-head;
padding-top: 8%; }

.who-why-blurb { grid-area: who-why-blurb;
padding: 2%; }
  
.who-why-blurb > article > p {
    padding: 2%;
    margin-left: 2%;
}

  .who-why-contacts { grid-area: who-why-contacts; 
    justify-content: center;
    background: linear-gradient(rgba(202,205,205, 0.1), rgba(157,157,157, 0.5)),
    url('../images/stirlingmap.png') center/cover no-repeat;
    
}

address {text-align:center;}
address > span {text-align:left; display:inline-block; padding:2%;}

.who-why-contacts > h1 {
    align-self: center;
    padding-top: 8%;
}

.contacts-address {
    justify-self: start;
}




.image { 
    grid-area: image; 
    background: url('../images/crane2.jpg') center/cover no-repeat;
    width: 100%;
    height: 30vh;
}

.news-container { 
    grid-area: news-container; 
    background-color: #4ABED1;
    color: #fff;
        
}

.news-container-flex {
    padding-top: 2%;
    text-align: left;
    margin-left: 3%;
    width: 100vw;
    padding-bottom: 2%;
}
.news-container > article > h1  {
    padding: 0.5%;

}

.news-container > article > ul {
    padding: 0.5%;
    font-weight: 600;
    
}

button {
    border: none;
    background-color: #fff;
}

#news.btn {
    border: solid 1px #344970;
    color: #4abed1;
}

.values-container { grid-area: values-container;
    background-color: #344970;
    color: #fff;

}

.values-container > article  {
    padding: 2%;
    margin-left: 2%;
}
.values-container > article > h1  {
    padding: 0.5%;

}
.values-container > article > p {
    padding: 0.5%;
    font-weight: 600;
    
}