.navbar {
    /* background-color: green; */
    width: 100%;
    height: 10vh;
    display: flex;
    text-decoration: none;
    border-bottom: 15px solid #344976;
    
    }

.navbar .nav-left {
    flex: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

.navbar .nav-left {
    padding-left: 3vw;
    color: rgb(52,73,112);

}

.navbar .nav-right {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}

.navbar .nav-right button {
    display: none;
    margin-right: 20px;
}

.menu-bars {
    color: rgb(52,73,112);
    background: none;
    border: none;
    font-size: 2rem;
}

.navbar .nav-right #hidden {
    display: none;
    position: absolute;
    right: 0px;
    top: 80px;
    height: 230px;
    max-height: 230px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.navbar .nav-right .links {
    max-height: 80px;
}


.navbar .nav-right .links a {
    text-decoration: none;
    color: rgb(52,73,112);
    font-size: 15px;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

Link {
    text-transform: uppercase;
}

link:hover {
    cursor: pointer;
}

.cpm-logo {
    color: #344976;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    /* width: 30px; 
    right: 60px;  */
    margin-left: 30px;
    padding: 3vh;
}

@media only screen and (max-width: 880px) {

    .navbar .nav-right .links a {
        font-size: 20px;
    }


}
@media only screen and (max-width: 750px) {
    .navbar .nav-right .links a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {
    .navbar .nav-right button {
        display: flex;
    }
    .navbar .nav-right .links {
        display: none
    }

    .navbar .rightside #hidden {
        position: absolute;
        right: 0px;
        top: 80px;
        height: 230px;
        max-height: 230px;
        width: 100%;
        background-color: green;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .rightside #hidden a {
        margin: 10px;
    }

    .menu-bars {
        display: none;
    }

}