.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: atten-new, sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 16px;
  font-weight: 300;
}
/* Set your default so that the sizing and placement is predictable */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Everything is a child of this node, so set its height to take up the full page or more, then set some padding at the bottom so your footer can slip into the gap. */
#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20px;
}

.Header {
 position: relative;
 height: 100px;
 width: 100%;
}

.Main {
  text-align: center;
  position: relative;
}

/* Now set the height of your Footer equal to the padding that you left for it in your #root.  To make it stay at the bottom, you will set it to be absolutely positioned.  If Main grows larger, your Footer will move down to remain at the bottom of the page. */ 
.Footer {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* Atten New Book Italic
font-family: atten-new, sans-serif;
font-weight: 300;
font-style: italic; */

/* Atten New Bold Italic
font-family: atten-new, sans-serif;
font-weight: 700;
font-style: italic; */

/* Atten New Regular
font-family: atten-new, sans-serif;
font-weight: 400;
font-style: normal; */

/* Atten New Book
font-family: atten-new, sans-serif;
font-weight: 300;
font-style: normal; */

/* Atten New Bold
font-family: atten-new, sans-serif;
font-weight: 700;
font-style: normal; */

/* Atten New Regular Italic
font-family: atten-new, sans-serif;
font-weight: 400;
font-style: italic; */